.DivCardOrder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #5cde8c;
    color: #FFFFFF;
    height: 60px;
    width: 100%;
    border-radius: 25px;
    border-color: #5cde8c;
    border-style:ridge;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.255);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    margin-bottom: 10px;
}

.DivCardOrder:hover{
    background-color: #2fcd69;

}

.DivDataOrder{
    width: 120px;
    margin-right: 160px;
}

.H4DataOrder{
    margin: 0px;
    text-align: center;
    font-size: 18px;
    font-family: 'Ysabeau SC', Arial, sans-serif;
}

.DivTerm{
    width: 120px;
    margin-right: 160px;
}

.H4Term{
    margin: 0px;
    text-align: center;
    font-size: 18px;
    font-family: 'Ysabeau SC', Arial, sans-serif;
}

.DivStep{
    width: 80px;
    margin-right: 120px;
}

.H4Step{
    margin: 0px;
    text-align: center;
    font-size: 18px;
    font-family: 'Ysabeau SC', Arial, sans-serif;
}

.DivTotal{
    width: 120px;
}

.H4Total{
    margin: 0px;
    text-align: center;
    font-size: 18px;
    font-family: 'Ysabeau SC', Arial, sans-serif;
}